/*--------------------------------*/
/*Animation Chargement de page*/
/*--------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/*------------------------*/
/*Animation Coeur*/
/*------------------------*/
@keyframes heart {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0.20;
  }
  46% {
    opacity: 0.50;
  }
  100% {
    opacity: 1;
  }
}

/*------------------------*/
/*Animation Spinner*/
/*------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/*------------------------*/
/*Le logo*/
/*------------------------*/
.header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  animation: fadeAnimation 1s ease 1s forwards;
  opacity: 0;
}

.header .headerLogo {
  width: 200px;
  margin: 1em 0;
}

.header .headerIcon {
  position: absolute;
  top: 25px;
  left: 20px;
  color: black;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/*------------------------*/
/*Location*/
/*------------------------*/
.location {
  display: flex;
  justify-content: center;
  background-color: #D3D3D3;
  background: rgba(211, 211, 211, 0.5);
  width: 100%;
  font-weight: bold;
  padding: 1em 0;
  border-top: 3px solid #D3D3D3;
  animation: fadeAnimation 1s ease 1s forwards;
  opacity: 0;
}

.location .locationIcon, .location .locationTitle {
  margin: 0 0.5em;
}

/*------------------------*/
/*Titres et boutons*/
/*------------------------*/
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #D3D3D3;
  background: rgba(211, 211, 211, 0.3);
  text-align: center;
  animation: fadeAnimation 1s ease 1s forwards;
  opacity: 0;
}

.title h1 {
  padding: 0 1em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.title p {
  padding: 0 2em;
  margin-top: 0;
}

.title .explore {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 84%);
  border-radius: 30px;
  box-shadow: 0px 5px 8px 0px #00000020;
  padding: 1em;
  margin: 1em 0 4em 0;
}

.title .explore:hover {
  opacity: 0.85;
  box-shadow: 0px 5px 8px 0px #00000050;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spinner .loader {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  z-index: 1;
  top: 390px;
  opacity: 0;
  border-radius: 50px;
  border: 5px solid #99e2d0;
  animation: spinner 2s linear 0.5s;
}

.spinner .loader::after {
  content: "";
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 6px solid transparent;
  border-top-color: #008766;
  border-bottom-color: #008766;
  border-radius: 50px;
  animation: spin 1.5s linear 0.5s;
  animation-iteration-count: 1;
}

/*------------------------*/
/*Le fonctionnement*/
/*------------------------*/
.operation {
  animation: fadeAnimation 1s ease 1s forwards;
  opacity: 0;
}

.operation h2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 0.8em;
  margin-top: 2em;
}

.operation .operationChoices {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operation .operationChoices .operationChoice {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 87%;
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 20px;
  box-shadow: 0px 2px 8px 0px #00000020;
  font-weight: 900;
  margin: 0.5em 1em 0.5em 1.5em;
  cursor: pointer;
}

.operation .operationChoices .operationChoice:hover {
  background-color: rgba(147, 86, 220, 0.3);
}

.operation .operationChoices .operationChoice:hover .operationChoiceIcon {
  color: #9356DC;
}

.operation .operationChoices .operationChoice p {
  position: absolute;
  top: 6px;
  left: -0.75em;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  font-size: 14px;
  font-weight: 500;
  padding: 0.25em 0.6em 0.25em 0.6em;
}

.operation .operationChoices .operationChoice .operationChoiceIcon {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.operation .operationChoices .operationChoice .operationChoiceIcon:hover {
  color: #9356DC;
}

.operation .operationChoices h3 {
  width: 100%;
  text-align: center;
}

.operation .operationChoices .title1 {
  margin-left: -1em;
}

.operation .operationChoices .title2 {
  margin-left: -2em;
}

.operation .operationChoices .title3 {
  margin-left: -1.5em;
}

/*------------------------*/
/*responsive*/
/*------------------------*/
@media screen and (min-width: 700px) {
  .operation h2 {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .operation .operationChoices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  .operation .operationChoice {
    margin-right: 2em;
    margin-left: 2em;
    max-width: 400px;
  }
}

/*------------------------*/
/*Les restaurants*/
/*------------------------*/
.restaurants {
  background-color: #D3D3D3;
  background: #f7f7f7;
  margin-bottom: -1em;
  padding-bottom: 2em;
  animation: fadeAnimation 1s ease 1s forwards;
  opacity: 0;
}

.restaurants h2 {
  margin: 0;
  padding: 2.5em 0 0 0.8em;
  font-weight: 900;
}

.restaurantsCard {
  max-width: 90%;
  border-radius: 1.25em;
  cursor: pointer;
  transition-duration: 0.1s;
  text-decoration: none;
}

.restaurantsCard .restaurantsCardFigure {
  position: relative;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  width: 90%;
  height: 13em;
  margin: 1.1em;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureImg {
  min-width: 100%;
  height: 66%;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureNew {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  padding: 0.5em;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption {
  position: relative;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption h3 {
  color: black;
  font-weight: 900;
  margin: 0 0 0 1em;
  padding-top: 0.5em;
  text-decoration: none;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption .restaurantsCardDescript {
  color: black;
  margin: 0 0 0 1em;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption .restaurantsCardIcon {
  position: absolute;
  top: 15px;
  right: 20px;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption .restaurantsCardIcon .heart {
  color: black;
  font-size: 25px;
}

.restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption .restaurantsCardIcon .heart:hover {
  background: -webkit-linear-gradient(175deg, #ff79da 10%, #9356dc 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: heart 1s both;
}

/*------------------------*/
/*responsive*/
/*------------------------*/
@media screen and (min-width: 700px) {
  .restaurants h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
  }
  .restaurants .restaurantsCardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants .restaurantsCardList .restaurantsCardFigure {
    min-width: 400px;
  }
}

/*------------------------*/
/*Pages - Menus*/
/*------------------------*/
.restaurantCard {
  margin: 0 auto;
}

.restaurantCard .restaurantCardImgImg {
  height: 285px;
  width: 100%;
  object-fit: cover;
}

.restaurantCard .restaurantCardMenu {
  position: relative;
  margin-top: -3em;
  background-color: #D3D3D3;
  background: #f7f7f7;
  border-radius: 2em 2em 0 0;
  width: 100%;
  height: 100%;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenuTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
  width: 100%;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenuTitle h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 28px;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenuTitle .heartMenu {
  font-size: 25px;
  margin-right: 0.5em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .menu {
  max-height: 40px;
  margin-bottom: 1em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .menu h2 {
  font-size: 18px;
  margin-top: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.3em;
  font-weight: 400;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .menu h2:after {
  content: "";
  width: 70px;
  height: 4px;
  display: block;
  background-color: #99e2d0;
  margin: 0.3em 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu {
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 2px 8px 0px #00000020;
  width: 90%;
  height: 4em;
  position: relative;
  margin: 0.5em 0;
  overflow: hidden;
  transform: translateY(45px);
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu:hover .container {
  transition-duration: 800ms;
  transform: translate(-60px);
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu:hover .container .circle {
  transition-duration: 800ms;
  transform: rotate(-360deg);
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu:hover .cardMenuPriceIcon .bold {
  transform: translate(-60px);
  transition-duration: 800ms;
  margin-left: 3em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu h3 {
  font-size: 17px;
  font-weight: 700;
  margin: 0.6em 3em 0.3em 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu .cardMenuPriceIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu .cardMenuPriceIcon .desc {
  font-size: 14px;
  font-weight: 300;
  overflow: hidden;
  margin-right: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu .cardMenuPriceIcon .bold {
  z-index: 2;
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu .container {
  background-color: #99e2d0;
  position: absolute;
  top: 0;
  right: -60px;
  width: 60px;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .cardMenu .container .circle {
  font-size: 1.3em;
  position: absolute;
  color: #FFFFFF;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat1 {
  animation: fadeInAnimation ease 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat2 {
  animation: fadeInAnimation ease 0.9s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat3 {
  animation: fadeInAnimation ease 1.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat4 {
  animation: fadeInAnimation ease 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat5 {
  animation: fadeInAnimation ease 1.8s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat6 {
  animation: fadeInAnimation ease 2.1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat7 {
  animation: fadeInAnimation ease 2.4s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat8 {
  animation: fadeInAnimation ease 2.7s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat9 {
  animation: fadeInAnimation ease 3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card .plat10 {
  animation: fadeInAnimation ease 3.3s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.restaurantCard .restaurantCardMenu .button {
  display: flex;
  justify-content: center;
}

.restaurantCard .restaurantCardMenu .button .order {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 84%);
  border-radius: 30px;
  box-shadow: 0px 5px 8px 0px #00000020;
  padding: 1em;
  margin: 1em 0 4em 0;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  width: 10em;
}

.restaurantCard .restaurantCardMenu .button .order:hover {
  opacity: 0.85;
  box-shadow: 0px 5px 8px 0px #00000050;
}

/*------------------------*/
/*responsive*/
/*------------------------*/
@media screen and (min-width: 700px) {
  .restaurantCard .restaurantCardMenu .restaurantCardMenuTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 600px;
  }
  .restaurantCard .restaurantCardMenu .restaurantCardMenus .menu h2 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .restaurantCard .restaurantCardMenu .restaurantCardMenus .menu h2::after {
    display: none;
  }
  .restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .card {
    max-width: 430px;
    margin: 0.5em;
  }
}

footer {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  animation: fadeAnimation 1s ease 1s forwards;
  opacity: 0;
}

footer .footerFooter .footerLogo {
  font-family: 'Shrikhand', cursive;
  width: 200px;
  color: white;
  margin: 1em;
  padding-top: 1em;
}

footer .footerList {
  display: flex;
  flex-direction: column;
}

footer .footerList .footerList1,
footer .footerList .footerList2,
footer .footerList .footerList3,
footer .footerList .footerList4 {
  max-width: 250px;
  display: flex;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

footer .footerList .footerList1 .footerListIcon1,
footer .footerList .footerList2 .footerListIcon1,
footer .footerList .footerList3 .footerListIcon1,
footer .footerList .footerList4 .footerListIcon1 {
  margin: 0 0.5em;
  color: white;
}

footer .footerList .footerList1 .footerListIcon2,
footer .footerList .footerList2 .footerListIcon2,
footer .footerList .footerList3 .footerListIcon2,
footer .footerList .footerList4 .footerListIcon2 {
  margin: 0 0 0 0.5em;
  color: white;
}

footer .footerList .footerList1 .footerListtext,
footer .footerList .footerList2 .footerListtext,
footer .footerList .footerList3 .footerListtext,
footer .footerList .footerList4 .footerListtext {
  text-decoration: none;
  color: white;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}

/*------------------------*/
/*responsive*/
/*------------------------*/
@media screen and (min-width: 700px) {
  footer .footerFooter {
    display: flex;
    justify-content: center;
  }
  footer .footerFooter .footerLogo {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  footer .footerList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
  }
}
/*# sourceMappingURL=style.css.map */