@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: 'Shrikhand', cursive;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

/*Le logo*/
.header {
  position: relative;
  display: flex;
  justify-content: center;
}

.header .headerLogo {
  width: 200px;
  margin: 1em 0;
}

.header .headerIcon {
  position: absolute;
  top: 25px;
  left: 20px;
  color: black;
  text-decoration: none;
}

/*Location*/
.location {
  display: flex;
  justify-content: center;
  background-color: #D3D3D3;
  background: rgba(211, 211, 211, 0.5);
  width: 100%;
  font-weight: bold;
  padding: 1em 0;
  border-top: 3px solid #D3D3D3;
}

.location .locationIcon, .location .locationTitle {
  margin: 0 0.5em;
}

/*Titres et bouton*/
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #D3D3D3;
  background: rgba(211, 211, 211, 0.3);
  text-align: center;
}

.title h1 {
  padding: 0 1em;
  margin-top: 1em;
  margin-bottom: 0.25em;
}

.title p {
  padding: 0 2em;
  margin-top: 0;
}

.title .explore {
  font-weight: bold;
  color: white;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 84%);
  border-radius: 30px;
  box-shadow: 0px 5px 8px 0px #00000020;
  padding: 1em;
  margin: 1em 0 4em 0;
}

.title .explore:hover {
  opacity: 0.9;
}

/*Le fonctionnement*/
.operation h2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 1.5em;
  margin-top: 2em;
}

.operation .operationChoices {
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Les restaurants*/
}

.operation .operationChoices .operationChoice {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 85%;
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 20px;
  box-shadow: 0px 2px 8px 0px #00000020;
  font-weight: 900;
  margin: 0.5em 0;
}

.operation .operationChoices .operationChoice:hover {
  background-color: rgba(147, 86, 220, 0.3);
}

.operation .operationChoices .operationChoice p {
  position: absolute;
  top: 6px;
  left: -0.5em;
  border-radius: 100%;
  color: white;
  background-color: #9356DC;
  font-size: 14px;
  font-weight: 500;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.operation .operationChoices .operationChoice .operationChoiceIcon {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.operation .operationChoices .operationChoice .operationChoiceIcon:hover {
  color: #9356DC;
}

.operation .operationChoices .operationChoice h3 {
  width: 100%;
  text-align: center;
}

.restaurants {
  background-color: #D3D3D3;
  background: #f7f7f7;
}

.restaurants h2 {
  margin: 0;
  padding: 2.5em 0 0 1em;
  font-weight: 900;
}

.restaurantsCardList .restaurantsCard {
  max-width: 90%;
  border-radius: 1.25em;
  margin: 0.5em;
  cursor: pointer;
  transition-duration: 0.1s;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure {
  position: relative;
  background-color: white;
  border-radius: 1em 1em 1em 1em;
  box-shadow: 0px 4px 8px 0px #00000020;
  width: 90%;
  height: 13em;
  margin: 0 auto;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure .restaurantsCardFigureImg {
  min-width: 100%;
  height: 66%;
  border-radius: 1em 1em 0 0;
  object-fit: cover;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure .restaurantsCardFigureNew {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  font-weight: bold;
  padding: 0.5em;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption {
  position: relative;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption h3 {
  color: black;
  font-weight: 900;
  margin: 0 0 0 1em;
  padding-top: 0.5em;
  text-decoration: none;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption .restaurantsCardDescript {
  color: black;
  margin: 0 0 0 1em;
}

.restaurantsCardList .restaurantsCard .restaurantsCardFigure .restaurantsCardFigureFigcaption .restaurantsCardIcon {
  position: absolute;
  top: 15px;
  right: 10px;
}

/*Pages*/
.restaurantCard {
  margin: 0 auto;
}

.restaurantCard .restaurantCardImgImg {
  height: 285px;
  width: 100%;
}

.restaurantCard .restaurantCardMenu {
  position: relative;
  margin-top: -3em;
  background-color: #D3D3D3;
  background: #f7f7f7;
  border-radius: 2em 2em 0 0;
  width: 100%;
  height: 100%;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenuTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1em;
  width: 100%;
}

.restaurantCard .restaurantCardMenu h1 {
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  font-size: 30px;
  margin-left: 0.5em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus h2 {
  margin-top: 0.5em;
  margin-left: 1em;
  font-weight: 500;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .cardMenu {
  background-color: white;
  border-radius: 1em;
  box-shadow: 0px 2px 8px 0px #00000020;
  width: 90%;
  height: 5em;
  position: relative;
  margin: 0.5em 0;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .cardMenu h3 {
  font-weight: 700;
  margin: 0.6em 0 0.3em 0.5em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .cardMenu p {
  margin: 0 0 0 0.5em;
}

.restaurantCard .restaurantCardMenu .restaurantCardMenus .cardMenus .cardMenu .cardMenuPriceIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.restaurantCard .restaurantCardMenu .button {
  display: flex;
  justify-content: center;
}

.restaurantCard .restaurantCardMenu .button .order {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
  background: #ff79da;
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 84%);
  border-radius: 30px;
  box-shadow: 0px 5px 8px 0px #00000020;
  padding: 1em;
  margin: 1em 0 4em 0;
  width: 10em;
}

.restaurantCard .restaurantCardMenu .button .order:hover {
  opacity: 0.9;
}

footer {
  width: 100%;
  background-color: black;
}

footer .footerFooter .footerLogo {
  font-family: 'Shrikhand', cursive;
  width: 200px;
  color: white;
  margin: 1em;
  padding-top: 1em;
}

footer .footerList {
  display: flex;
  flex-direction: column;
}

footer .footerList .footerList1 {
  display: flex;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 700;
}

footer .footerList .footerList1 .footerListIcon1 {
  margin: 0 0.5em;
  color: white;
}

footer .footerList .footerList1 .footerListIcon2 {
  margin: 0 0 0 0.5em;
  color: white;
}

footer .footerList .footerList1 .footerListtext {
  color: white;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
}
/*# sourceMappingURL=style.css.map */