@mixin dflexjcc {
    display: flex;
    justify-content: center;
}

@mixin dflexcolc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin buttonradient {
        font-weight: bold;
        color: white;
        background: rgb(255,121,218);
        background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 84%);
        border-radius: 30px;
        box-shadow: 0px 5px 8px 0px #00000020;
        padding: 1em;
        margin: 1em 0 4em 0;
        &:hover {
            background: lighten($primary, 10);
        }
}

@mixin operationCard {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 85%;
    background-color: rgba($grey, 0.3);
    border-radius: 20px;
    box-shadow: 0px 2px 8px 0px #00000020;
    font-weight: 900;
    margin: 0.5em 0;
    &:hover {
        background-color: rgba($primary, 0.3);
    }
    p {
        position:absolute;
        top: 6px;
        left: -0.5em;
        border-radius: 100%;
        color: white;
        background-color: $primary;
        font-size: 14px;
        font-weight: 500;
        padding: 0.25em 0.5em 0.25em 0.5em;
    }
    .operationChoiceIcon {
        display: flex;
        align-items: center;
        margin-left: 2em;
        &:hover {
            color: $primary;
        }
    } 
        h3 {
            width: 100%;
            text-align: center;
        }
}

@mixin viewRestaurant {
    .restaurantsCard {
        max-width: 90%;   
        border-radius: 1.25em;
        margin: 0.5em;
        cursor:pointer;
        transition-duration: 0.1s;   
        .restaurantsCardFigure {
            position: relative;
            background-color: white;
            border-radius: 1em 1em 1em 1em;
            box-shadow: 0px 4px 8px 0px #00000020;
            width: 90%;
            height: 13em;
            margin: 0 auto;
                .restaurantsCardFigureImg {
                    min-width: 100%;
                    height: 66%;
                    border-radius: 1em 1em 0 0;
                    object-fit: cover; 
                }
                .restaurantsCardFigureNew {
                    position: absolute;
                    top: -5px;
                    right: 10px;
                    background-color: $mint;
                    color: $green;
                    font-weight: bold;
                    padding: 0.5em;
                }
                .restaurantsCardFigureFigcaption {
                    position: relative;
                    
                    h3 {
                        color: black;
                        font-weight: 900;
                        margin: 0 0 0 1em;
                        padding-top: 0.5em;
                        text-decoration: none;
                    }
                    .restaurantsCardDescript {
                        color: black;
                        margin: 0 0 0 1em;
                    }
                    .restaurantsCardIcon {
                        position: absolute;
                        top: 15px;
                        right: 10px;
                        
                    }
                }
        }
    }
}


@mixin foot { 
width:100%;
background-color: black;
    .footerFooter {
            
        .footerLogo {
            font-family: 'Shrikhand', cursive;
            width: 200px;
            color: white;
            margin:1em;
            padding-top: 1em;
        }
    }
    .footerList {
        display:flex;
        flex-direction:column;
        .footerList1 {
            display: flex;
            margin-left: 0.5em;
            margin-bottom: 0.5em;
            font-weight: 700;
            .footerListIcon1 {
                margin: 0 0.5em;
                color: white;
            }
            .footerListIcon2 {
                margin: 0 0 0 0.5em;
                color: white;
            }
            .footerListtext {
                color: white;
                margin-left: 0.5em;
                margin-bottom: 0.5em;
            }
        }
    }
}

