@mixin dflexjcc {
    display: flex;
    justify-content: center;
}

@mixin dflexcolc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//------------------------
//Mixin Bouton Radient
//------------------------

@mixin buttonradient {
        font-weight: bold;
        color: white;
        background: rgb(255,121,218);
        background: linear-gradient(175deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 84%);
        border-radius: 30px;
        box-shadow: 0px 5px 8px 0px #00000020;
        padding: 1em;
        margin: 1em 0 4em 0;
        &:hover {
            opacity: 0.85;
            box-shadow: 0px 5px 8px 0px #00000050;
        }
}

//------------------------
//Mixin Alignement
//------------------------

@mixin operationCard {
    display: flex;
    flex-direction: row;
    position: relative;
}

//------------------------
//Mixin Spinner
//------------------------

@mixin loader {
    width: 50px;
    height:50px; 
    display: block;
    position:fixed;
    z-index :1;
    top: 390px;
    opacity:0;
    border-radius: 50px;
    border: 5px solid $mint;
    animation: spinner 2s linear 0.5s;  
        &::after {
            content:"";
            position:absolute;
            top: -6px;
            right: -6px;
            bottom: -6px;
            left: -6px;
            border: 6px solid transparent;
            border-top-color: $green;
            border-bottom-color: $green;
            border-radius: 50px;
            animation:spin 1s linear 0.5s;
            animation-iteration-count: 2;
        } 
}





